@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/regular.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.css";

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-Regular.ttf");
}

*{
    font-family: "Cormorant";
}

body{
    background-color: #f5edd0;  
    background-image: url("../../public/img/parchemin.jpg");
    background-position: bottom;
    background-size: cover;
    background-blend-mode: overlay;
    /* background-repeat: no-repeat; */
}

table{
    width: 90% !important;
}

#banner{
    height: calc(100vh - 70px);
    background-image: url("../../public/img/banner.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #3d3d3d6c;
    background-blend-mode: multiply;
}

.imagePnj{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#lineBetween{
    width: 1px;
    height: fit-content;
    background-color: #292929;
}

.cornerDeco{
    width: 200px;
}

.cardBg{
    background-color: #f5edd0;  
    background-image: url("../../public/img/parchemin.jpg");
    background-position: bottom;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

#quote{
    background-image: url("../../public/img/banner2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #3d3d3dd0;
    background-blend-mode: multiply;
}
#quote2{
    background-image: url("../../public/img/banner2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #3d3d3dd0;
    background-blend-mode: multiply;
}

.charBg{
    background-image: url("../../public/img/pierre.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #837f7fd0;
    background-blend-mode: multiply;
}
.borderDeco1{
    border-bottom: 20px solid transparent;
    border-image: url("../../public/img/borderDeco.png") 40 round;
    border-image-outset: 1;
}
.borderDeco2{
    border-top: 20px solid transparent;
    border-image: url("../../public/img/borderDeco.png") 40 round;
    border-image-outset: 1;
}

.borderFiche{
    border: 30px solid transparent;
    border-image: url("../../public/img/borderFiche.png") 30 stretch;
}

.dividerTitle{
    /* border: 20px solid transparent; */
    border: 20px solid transparent;
    border-image: url("../../public/img/divider.png") 60 round;
}
.dividerDivT{
    top: -50%;
}
.dividerDivB{
    bottom: -50%;
}
.borderNavB{
    border-bottom: 20px solid transparent;
    border-image: url("/img/navBg.png") 50 round;
    border-image-outset: 1;
}
.borderNavT{
    border-top: 20px solid transparent;
    border-image: url("/img/navBg2.png") 50 round;
    border-image-outset: 1;
}

.dragonL{
    left: -60%;
    top: -60px;
    mix-blend-mode: soft-light;
}
.dragonR{
    right: -60%;
    top: -60px;
    mix-blend-mode: soft-light;
}
.dragonHead{
    bottom: 10%;
    mix-blend-mode: soft-light;
}
.resumeBg{
    width: 100%;
    mix-blend-mode: soft-light;
}
.groupBg{
    width: 100%;
    mix-blend-mode: soft-light;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #707070; 
}

*::-webkit-scrollbar-thumb {
    background: #363636; 
}

*::-webkit-scrollbar-thumb:hover {
    background: #f7f0b7; 
}
